*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Custom Properties */

:root {
  --fw-reg: 500;
  --fw-semi: 600;
  --fw-bold: 700;

  --ff-primary-1: "Poppins", sans-serif;
  --ff-primary-2: "Roboto", sans-serif;
  --ff-secondary: "Rajdhani", sans-serif;

  --clr-dark: #0b0b0b;
  --clr-light: #f3f1ef;
  --clr-accent-1: #06f9d4;
  --clr-accent-2: #e5a25c;
  --clr-accent-3: #e94d37;

  --fs-h1: 3rem;
  --fs-h2: 2.25rem;
  --fs-h3: 1.5rem;
  --fs-body: 1.2rem;

  --marquee-width: 1150px;
  --marquee-height: 20vh;
  --marquee-elements-displayed: 5;
  --marquee-element-width: calc(
    var(--marquee-width) / var(--marquee-elements-displayed)
  );
  --marquee-animation-duration: calc(var(--marquee-elements) * 2s);
}

/* MEDIA QUERIES */

/* General Styles */

html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
}

.logo {
  margin: 1.5rem 0;
  max-width: 200px;
}

.logo a {
  font-family: "Prata", serif;
  font-size: 2rem;
  font-weight: bold;
  color: var(--clr-light);
  text-decoration: none;
}

.primary-header {
  background-color: var(--clr-dark);
}

.fixed-nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
}

.mobile-nav-toggle {
  display: none;
}

.nav {
  inset: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 3rem;
}

.small-nav {
  height: 100px;
}

.nav__icons a {
  color: var(--clr-light);
  padding-left: 1em;
  font-size: var(--fs-body);
  transition: color 0.35s;
}

.primary-navigation li a:hover,
.nav__icons a:hover {
  color: var(--clr-accent-1);
}

.primary-navigation {
  list-style: none;
  display: flex;
  gap: 2.5rem;
  padding: 0;
  margin: 0;
}

.primary-navigation li a{
  text-decoration: none;
  color: var(--clr-light);
  transition: color 0.35s;
  font-family: var(--ff-secondary);
  font-size: var(--fs-body);
  cursor: pointer;
  transition: color 0.35s;
}

@media (max-width: 70em) {
  .logo {
    margin-top: 0.7rem;
    max-width: 150px;
  }

  .logo a {
    font-size: 1.5rem;
  }

  .primary-navigation,
  .nav__icons {
    gap: 2em;

    position: fixed;
    z-index: 1000;
    inset: 0 0 0 30%;

    flex-direction: column;
    padding: min(30vh, 10rem) 6em;

    transform: translateX(100%);
    transition: transform 350ms ease-out;
  }

  .primary-navigation[data-visible="true"] {
    transform: translateX(0%);
  }

  .mobile-nav-toggle {
    display: block;
    position: absolute;
    z-index: 9999;
    background-image: url(/icons/icon-hamburger.svg);
    background-color: transparent;
    background-repeat: no-repeat;
    border: 0;
    width: 2rem;
    aspect-ratio: 1;
    top: 2rem;
    right: 2rem;
  }

  @supports (backdrop-filter: blur(1rem)) {
    .primary-navigation {
      background: hsl(0 0% 100% / 0.1);
      backdrop-filter: blur(1rem);
    }
  }

  .mobile-nav-toggle[aria-expanded="true"] {
    background-image: url(/icons/icon-close.svg);
  }
}

/* HERO SECTION */
.hero__section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 100vw;
  margin: 0 auto;
  padding: 2rem 2rem 0 2rem;
  line-height: 30px;
  background-color: var(--clr-dark);
  /* position: relative; */
}

.hero-text {
  margin-left: 4em;
}

.hero-text h1 {
  font-family: var(--ff-primary-2);
  font-size: var(--fs-h1);
  font-weight: var(--fw-bold);
  color: var(--clr-accent-1);
  margin-bottom: 1em;
}

.hero-text > p {
  font-family: var(--ff-secondary);
  font-size: var(--fs-h3);
  color: var(--clr-light);
  width: 350px;
}

.my-image {
  width: 600px;
  object-fit: cover;
  vertical-align: bottom;
  transform: rotateY(180deg);
  mix-blend-mode: luminosity;
  opacity: 0.54;
}

/* Button */

.svg-wrapper {
  position: relative;
  margin-top: 70px;
  width: 300px;
  text-align: center;
  justify-content: center;
  cursor: pointer;
}

.shape {
  stroke-dasharray: 140 540;
  stroke-dashoffset: -435;
  stroke-width: 8px;
  fill: transparent;
  stroke: var(--clr-accent-1);
  border-bottom: 5px solid black;
  transition: stroke-width 1s, stroke-dashoffset 1s, stroke-dasharray 1s;
}
.button-text {
  font-family: var(--ff-secondary);
  font-weight: bold;
  font-size: 22px;
  line-height: 32px;
  letter-spacing: 8px;
  color: #fff;
  top: -48px;
  position: relative;
}
.svg-wrapper:hover .shape {
  stroke-width: 3px;
  stroke-dashoffset: 0;
  stroke-dasharray: 760;
}

/* ABOUT SECTION */

.about__section {
  padding: 5rem;
  background-color: var(--clr-light);
}

.about-container {
  margin: 0 auto;
  place-content: center;
  max-width: 1200px;
}

.about-title {
  font-family: var(--ff-secondary);
  font-size: var(--fs-h2);
  text-align: center;
  margin-bottom: 100px;
}

.about-info {
  display: flex;
  gap: 5rem;
  line-height: 25px;
}

.about-image img {
  height: 500px;
  width: 370px;
  object-fit: cover;
  object-position: center center;
}

.about-text {
  margin-bottom: 5rem;
  font-size: var(--fs-body);
  max-width: 700px;
}

.about-text p {
  margin-top: 40px;
}

.big-l {
  font-size: var(--fs-h2);
  font-family: var(--ff-primary-1);
  font-weight: var(--fw-reg);
}

.about-column a {
  margin-right: -4px;
  padding: 14px 18px;
  border: 2px solid black;
  text-decoration: none;
  font-family: var(--ff-primary-1);
  color: inherit;
}

.buttons #button2 {
  color: white;
  background-color: black;
  word-wrap: nowrap;
}

/* SERVICES SECTION */

.service__section {
  padding: 5rem 5rem 7rem 5rem;
  max-width: 1300px;
  margin: 0 auto;
}

.section-title {
  font-family: var(--ff-secondary);
  font-size: var(--fs-h2);
  text-align: center;
  margin-bottom: 100px;
}

.services-container {
  display: grid;
  /* grid-template-columns: repeat(2, 1fr); */
  grid-template-columns: repeat(auto-fit, minmax(400px, 550px));
  grid-gap: 2em;
  margin: 0 auto;
}

.service-item {
  background: var(--clr--accent);
  overflow: hidden;
}

.service-item img {
  transition: transform 750ms cubic-bezier(0.5, 0, 0.5, 1), opacity 250ms linear;
}

.service-item img:hover {
  transform: scale(1.2);
  opacity: 0.85;
}

.service-item:before {
  content: attr(title);
  position: absolute;
  top: -30px;
  left: 50%;
  transform: translateX(-50%);
  padding: 8px 10px;
  background-color: white;
  border: 2px solid red;
  border-radius: 50%;
  white-space: nowrap;
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s ease-in-out;
}

.service-item:hover::before {
  visibility: visible;
  opacity: 1;
}

/* SKILLSET SECTION */

.skillset__section {
  background: url(/images/skills-background-4.svg);
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: auto;
  padding: 5rem;
  margin: 0 auto;
}

.marquee {
  width: var(--marquee-width);
  height: var(--marquee-height);
  overflow: hidden;
  position: relative;
}

.marquee:before,
.marquee:after {
  position: absolute;
  top: 0;
  width: 10rem;
  height: 100%;
  content: "";
  z-index: 1;
}

.marquee:before {
  left: 0;
  background: linear-gradient(to right, #111 0%, transparent 100%);
}

.marquee:after {
  right: 0;
  background: linear-gradient(to left, #111 0%, transparent 100%);
}

.marquee-content {
  list-style: none;
  height: 100%;
  display: flex;
  animation: scrolling var(--marquee-animation-duration) linear infinite;
}

.marquee-content .tech-stack {
  color: white;
  white-space: nowrap;
  font-size: var(--fs-h1);
  font-family: var(--ff-primary-1);
}

.marquee-content:hover {
  animation-play-state: paused;
}

@keyframes scrolling {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(
      calc(-1 * var(--marquee-element-width) * var(--marquee-elements))
    );
  }
}

.marquee-content li {
  display: flex;
  justify-content: center;
  align-items: center;
  width: var(--marquee-element-width);
  flex-shrink: 0;
  font-size: 2rem;
}

@media (max-width: 600px) {
  :root {
    --marquee-width: 100vw;
    --marquee-height: 16vh;
    --marquee-elements-displayed: 3;
  }
  .marquee::before,
  .marquee::after {
    width: 5rem;
  }
}

/* PORTFOLIO SECTION */

.project__section {
  padding: 5rem 5rem 7rem 5rem;
  max-width: 1300px;
  margin: 0 auto;
}

.portfolio-items {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 270px;
  grid-gap: 2rem;
  position: relative;
  height: 900px;
}

.item .item-1 {
  grid-column: 1 / 3;
}

.item .item-4 {
}
